In [ ]:
#import libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
#import happiness survey
hapclean = pd.read_csv('/content/drive/My Drive/hr.csv')

In [ ]:
#check
hapclean.head()

,Country,Region,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,Year
0,Afghanistan,Southern Asia,153,3.575,0.31982,0.30285,0.30335,0.23414,0.09719,0.36510,1.95210,2015
1,Albania,Central and Eastern Europe,95,4.959,0.87867,0.80434,0.81325,0.35733,0.06413,0.14272,1.89894,2015
2,Algeria,Middle East and Northern Africa,68,5.605,0.93929,1.07772,0.61766,0.28579,0.17383,0.07822,2.43209,2015
3,Angola,Sub-Saharan Africa,137,4.033,0.75778,0.86040,0.16683,0.10384,0.07122,0.12344,1.94939,2015
4,Argentina,Latin America and Caribbean,30,6.574,1.05351,1.24823,0.78723,0.44974,0.08484,0.11451,2.83600,2015

In [ ]:
hapclean.describe()

,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,Year
count,782.000000,782.000000,782.000000,782.000000,782.000000,782.000000,781.000000,782.000000,470.000000,782.000000
mean,78.698210,5.379018,0.916047,1.078392,0.612416,0.411091,0.125436,0.218576,2.092717,2016.993606
std,45.182384,1.127456,0.407340,0.329548,0.248309,0.152880,0.105816,0.122321,0.565772,1.417364
min,1.000000,2.693000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.328580,2015.000000
25%,40.000000,4.509750,0.606500,0.869363,0.440183,0.309768,0.054000,0.130000,1.737975,2016.000000
50%,79.000000,5.322000,0.982205,1.124735,0.647310,0.431000,0.091000,0.201982,2.094640,2017.000000
75%,118.000000,6.189500,1.236187,1.327250,0.808000,0.531000,0.156030,0.278832,2.455575,2018.000000
max,158.000000,7.769000,2.096000,1.644000,1.141000,0.724000,0.551910,0.838075,3.837720,2019.000000

Trust is missing a value, lets get rid of it.
Dystopia is missing too many values, we didn't notice in the excel file, so let's get rid of it.
Trust & generosity & freedom & health & family all have 0s which we will replace with Null values so they don't affect our stats.

In [ ]:
#drop dystopia
hapcc = hapclean.drop(columns = ['Dystopia Residual'])

In [ ]:
#fix missing variable in trust
hapcc = hap[hap['Trust (Government Corruption)'].isnull() == False]

In [ ]:
hapcc.head()

,Country,Region,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Year
0,Afghanistan,Southern Asia,153,3.575,0.31982,0.30285,0.30335,0.23414,0.09719,0.36510,2015
1,Albania,Central and Eastern Europe,95,4.959,0.87867,0.80434,0.81325,0.35733,0.06413,0.14272,2015
2,Algeria,Middle East and Northern Africa,68,5.605,0.93929,1.07772,0.61766,0.28579,0.17383,0.07822,2015
3,Angola,Sub-Saharan Africa,137,4.033,0.75778,0.86040,0.16683,0.10384,0.07122,0.12344,2015
4,Argentina,Latin America and Caribbean,30,6.574,1.05351,1.24823,0.78723,0.44974,0.08484,0.11451,2015

In [ ]:
#replace all 0's with NaN
hapdf.replace(0, np.nan, inplace=True)

In [ ]:
hapdf.describe()

,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Year
count,781.000000,781.000000,776.000000,776.000000,776.000000,776.000000,775.000000,776.000000,781.000000
mean,78.773367,5.377232,0.920429,1.085731,0.616287,0.413903,0.126407,0.220026,2016.992318
std,45.162398,1.127071,0.399976,0.319011,0.244327,0.149781,0.105646,0.121517,1.417814
min,1.000000,2.693000,0.015300,0.104190,0.005565,0.005890,0.001000,0.001990,2015.000000
25%,40.000000,4.509000,0.617727,0.871798,0.443000,0.312000,0.055000,0.133390,2016.000000
50%,79.000000,5.321000,0.984000,1.125375,0.649348,0.432726,0.092000,0.202450,2017.000000
75%,118.000000,6.182000,1.237250,1.330237,0.809181,0.531243,0.156352,0.279940,2018.000000
max,158.000000,7.769000,1.870766,1.644000,1.141000,0.724000,0.551910,0.838075,2019.000000

In [ ]:
#check for mixed type
for col in hapdf.columns.tolist():
  weird = (hapdf[[col]].applymap(type) != hapdf[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (hapdf[weird]) > 0:
    print (col)

In [ ]:
#check for duplicates
df_dups = hapdf[hapdf.duplicated()]

In [ ]:
df_dups

Empty DataFrame
Columns: [Country, Happiness Rank, Happiness Score, Economy (GDP per Capita), Family, Health (Life Expectancy), Freedom, Trust (Government Corruption), Generosity, Year]
Index: []

In [ ]:
#checks all done. time to export.
hapdf.to_csv('/content/drive/MyDrive/hapdf.csv')